.error-wrapper {
  display: flex;
  color: white;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 350px;
  padding-top: 3rem;
  align-items: center;
  justify-content: space-between;
}

.error-message {
  flex: 1;
  max-width: 225px;
}

.error-message h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.error-message p {
  font-size: 1.2rem;
}

.error-icon {
  width: 100px;
  height: auto;
}
