.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ========== Hero Section ========== */
.hero-section {
  gap: 2rem;
  margin: 0;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;
}

.hero-text {
  flex: 1;
  min-width: 250px;
  max-width: 780px;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-buttons {
  gap: 1rem;
  display: flex;
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-spinner {
  perspective: 1000px;
  display: inline-block;
}

#logo {
  display: block;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;
  
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}


/* ========== Services Section ========== */
.services-section {
  color: white;
  padding-top: 2rem;
  text-align: center;
}

.services-section h2 {
  color: #00c1ee;
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
}

.info-section h2 {
  color: #00c1ee;
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
}

.subtitle {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.services-grid {
  margin-top: 2.5rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
  justify-items: center;
}

.services-grid a {
  text-decoration: none;
}

.service-item {
  width: 12rem;
  height: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
}

.service-item:hover {
  background-color: #002345;
}

.service-item h3 {
  margin: 0;
  color: #ccc;
  font-size: 0.9rem;
  text-decoration: none;
}

.services-grid {
  gap: 2rem;
  display: grid;
  margin-bottom: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}


/* ========== Info Grid Section ========== */
.info-section {
  color: white;
  padding-top: 2rem;
  gap: 2rem;
  margin: 0;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;    
}

.info-text {
  background: none;
  flex: 1 1 320px;
}

.info-text h3 {
  font-size: 1rem;
  color: #00c1ee;
  font-weight: normal;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.info-text h4 {
  margin-bottom: 0;
  font-size: 1.4rem;
  margin-top: 0.5em;
  font-weight: normal;
}

.info-text ul {
  margin-bottom: 0;
  padding-left: 1.2rem;
  list-style-type: disc;
}

.info-text ul.checklist {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.checklist li::before {
  content: "✔";
  color: #00c1ee;
  margin-right: 0.5rem;
}

.email {
  height: 1.4rem !important;
}

.info-img img {
  height: 15rem;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}