---
import '../styles/about.css';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="About Debrah | Debrah's Digital Solutions">
  <div class="page-wrapper about-page">

    <div class="page-header about-header">
      <h1>About Us</h1>
      <p>Tech made simple, right at your doorstep</p>
    </div>

    <div class="about-content">
      <div class="mission-statement page-text">
        <h2>Our Mission</h2>
        <p>
          At Debrah's Digital Solutions, our mission is to make technology simple, accessible, and empowering for everyone in our community. 
          We provide expert computer repair, personalized training, and innovative digital services tailored to the unique needs of individuals, 
          families, and businesses in Fairview and beyond. Through honest guidance, hands-on support, and a welcoming environment, we aim to bridge 
          the gap between people and technology - helping our clients succeed, connect, and grow in a digital world.
        </p>
      </div>

      <div class="page-text about-text">
        <h2>Who Am I?</h2>
        <p>
          <strong>Debrah Wyatt</strong> — a software engineer-in-training, automation specialist and founder of
          <span class="highlight"> Debrah's Digital Solutions</span>.
        </p>
        <p>
          With over 20 years of experience in tech, I help individuals and businesses in Fairview and surrounding
          areas simplify their digital needs. From streamlining operations with smart automation to building clean,
          responsive websites, I bring a human touch to modern tech.
        </p>
        <p>
          Let's make your <span class="highlight">tech simple, efficient, and tailored to your needs.</span>
        </p>
      </div>

      <div class="about-image">
        <img
          src="/debrah.webp"
          srcset="/debrah_395x420.webp 2x"
          alt="Debrah"
          width="263"
          height="280"
        />
      </div>

    </div>
  </div>
</BaseLayout>
