---
import '../styles/success.css';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="Success | Debrah's Digital Solutions">
  <div class="page-wrapper thank-you-wrapper">
    <div class="page-header thank-you-message">
      <h1>Thank You!</h1>
      <p>Your message has been sent successfully.</p>
    </div>

    <img
      src="/icon-mail.webp"
      alt="Mail icon"
      width="100"
      height="100"
      class="thank-you-icon"
    />
  </div>

  <div class="center">
    <a href="/" class="btn quote-btn">Return to Homepage</a>
  </div>
</BaseLayout>
