.siteFooter {
  color: white;
  margin-top: 6rem;
  background-color: #001a35;
  border-top: 1px solid #002345;
}

.footerContainer {
  gap: 2rem;
  display: flex;
  margin: 0 auto;
  padding: 0 15vw;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center; 
}

.footerSection {
  flex: 1 1;
}

.footerSection h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footerSection p {
  font-size: 1rem;
  margin: 0 0 1rem;
}

.footerSection ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerSection li {
  margin-bottom: 0.4rem;
}

.footerSection a {
  color: white;
  text-decoration: none;
}

.footerSection a:hover {
  text-decoration: underline;
}

.footerBottom {
  color: #aaa;
  margin-top: 2rem;  
  font-size: 0.8rem;
  text-align: center;
}

.footerBottom a {
  color: #aaa;
  text-decoration: underline;
}
