---
import '../styles/header.css'
---

<header class="site-header">
  <nav>

    <a class="banner-link" href="/">
      <img
        src="/banner_web.webp"
        srcset="/banner_web_300x75.webp 2x"
        alt="Banner"
        width="200"
        height="50"
        loading="eager"
      />
    </a>

    <span class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>

      <div class="dropdown" id="services-dropdown">
        <a href="/services" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-content">
          <a href="/computer-repair">Computer Repair</a>
          <a href="/phone-repair">Phone & Tablet Repair</a>
          <a href="/digital-skills">Digital Skills Training</a>
          <a href="/websites">Website Development</a>
          <a href="/onsite-support">On-Site Support</a>
          <a href="/custom-software">Custom Software Solutions</a>
          <a href="/tech-consulting">Business Tech Consulting</a>
          <a href="/networks">Network Optimization</a>
        </div>
      </div>

      <a href="/contact">Contact</a>

      <a class="social-icon-link" href="https://www.facebook.com/people/Debrahs-Digital-Solutions/61577075683150/"
        target="_blank" aria-label="Facebook" class="social-icon">
        <!-- Facebook Icon SVG -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M22.675 0h-21.35C.598 0 0 .6 0 1.326v21.348C0 23.4.598 24 1.326 24H12.82V14.708h-3.22v-3.622h3.22V8.413c0-3.18 1.942-4.91 4.778-4.91 1.358 0 2.526.1 2.865.146v3.32h-1.965c-1.54 0-1.84.732-1.84 1.806v2.368h3.678l-.479 3.622h-3.2V24h6.268C23.4 24 24 23.4 24 22.674V1.326C24 .6 23.4 0 22.675 0z" />
        </svg>
      </a>

    </span>

  </nav>
</header>
