---
import '../styles/header.css'
---

<header class="site-header">
  <nav>

    <a class="banner-link" href="/">
      <img
        src="/banner_web.webp"
        srcset="/banner_web_300x75.webp 2x"
        alt="Banner"
        width="200"
        height="50"
        loading="eager"
      />
    </a>

    <span class="nav-links">
      <a href="/">Home</a>

      <div class="dropdown" id="services-dropdown">
        <a href="/services" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-content">
          <a href="/services/computer-repair">Computer Repair</a>
          <a href="/services/computer-repair">Phone & Tablet Repair</a>
          <a href="/services/digital-skills-training">Digital Skills Training</a>
          <a href="/services/onsite-tech-support">On-Site Support</a>
          <a href="/services/network-optimization">Network Optimization</a>
          <a href="/services/website-development">Website Development</a>
          <a href="/services/business-tech-consulting">Business Tech Consulting</a>
          <a href="/services/ai-automation">AI Tools & Automation</a>
          <a href="/services/custom-software">Custom Software Solutions</a>
        </div>
      </div>

      <a href="/about">About</a>
      <a href="/contact">Contact</a>
        
    </span>

  </nav>
</header>
