---
import '../styles/header.css'
---

<header class="site-header">
  <nav>

    <a class="banner-link" href="/">
      <img
        src="/banner.webp"
        alt="Banner"
        width="230"
        height="60"
        loading="eager"
      />
    </a>

    <span class="nav-links">
      <a href="/">Home</a>
      <a href="/services">Services</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </span>

  </nav>
</header>
