html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent body from scrolling */
  font-family: 'Arial', sans-serif;
  background-color: #00142c;
}

main {
  overflow-y: auto; /* Scroll only here */
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  height: calc(100vh - 75.75px - 1rem); /* vh - header */
}

p {
	margin: 0;
  color: #FFF;
}

label {
  color: #FFF;
}

.highlight {
  color: #00c1ee;
}

.btn {
  background-color: #002345;
  color: #fff;
  border: 1px solid #00c1ee;
	padding: 0.6rem 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #00c1ee;
}
